// break points
$sp-max-width: 440px;
$tb-max-width: 998px;
$pc-min-width: 998px;

// Colors
$light-blue: #00b9ef;
$dark-blue: #3793bc;
$orange: #ff8901;
$green: #85bd4a;
$red: #e7615e;
$black: black;
$white: #fff;
$grey: rgb(110, 110, 110);
$font: "Montserrat Alternates", sans-serif;
